<!-- 图片滚动 -->
<div class="container">
  <div class="row box">
      <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="/products?category=牛仔范">
          <img src="https://ws3.sinaimg.cn/large/006tNbRwly1fga4kd17swj31jq14uqv7.jpg"  alt="First slide">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="/products?category=特价产品">
          <img src="https://ws2.sinaimg.cn/large/006tNbRwly1fga4kc052qj31jq14u1l0.jpg"  alt="Second slide">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
          <a href="/products?category=正装秀">
            <img src="https://ws1.sinaimg.cn/large/006tNbRwly1fgads86n1qj31jw15sqds.jpg"  alt="Third slide">
            <div class="carousel-caption"></div>
          </a>
        </div>
      </div>

     <a class="carousel-control left" href="#myCarousel" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
     </a>
     <a class="carousel-control right" href="#myCarousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
     </a>
      </div>
    </div>
</div>
  <!-- <div class="container">

   <h3 class="text-left"><img src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffytq03ukpj301s01st8h.jpg" height="24" alt="">&nbsp;牛仔范                          <a class="text-right">更多>>></span></h3>
   <hr>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-left"><img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fga2ytme15j301s01st8h.jpg" height="24" alt="">&nbsp;Cowboy</h3>
      </div>
      <div class="col-md-6">
       <h3 class="text-right"><%= link_to("More>>", products_path(category: "牛仔范")) %></h3>
      </div>
    </div>
   <hr>
 </div>

 <div class="product">
   <div class="container">
     <div class="row">
       <div class="col-md-3">
         <div class="item_hover">
           <img class="sort-img" src="https://ws3.sinaimg.cn/large/006tNbRwly1fg4k8frb33j30by0bydh1.jpg" alt="" />
           <div class="floor_goods">
             <span class="text_point">Denim jeans</span>
             <span style="color:#c00">￥328</span>
           </div>
           <a target="_blank" href="/products/1" class="item_buy">
             <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
           </a>
         </div>
       </div>
       <div class="col-md-3">
         <div class="item_hover">
           <img class="sort-img" src="https://ws4.sinaimg.cn/large/006tNbRwly1fg4jf218j9j30by0byq45.jpg" alt="" />
           <div class="floor_goods">
             <span class="text_point">Half sleeve jeans</span>
             <span style="color:#c00">￥128</span>
           </div>
           <a target="_blank" href="/products/5" class="item_buy">
             <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
           </a>
         </div>
       </div>
       <div class="col-md-3">
         <div class="item_hover">
           <img class="sort-img" src="https://ws2.sinaimg.cn/large/006tNbRwly1fg4jaor4lnj30by0bymyb.jpg" alt="" />
           <div class="floor_goods">
             <span class="text_point">Denim shorts</span>
             <span style="color:#c00">￥199</span>
           </div>
           <a target="_blank" href="/products/9" class="item_buy">
             <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
           </a>
         </div>
       </div>
       <div class="col-md-3">
         <div class="item_hover">
           <img class="sort-img" src="https://ws4.sinaimg.cn/large/006tNbRwly1fg4jaogq0ej30by0byjsg.jpg" alt="" />
           <div class="floor_goods">
             <span class="text_point">Casual shoes/span>
             <span style="color:#c00">￥299</span>
           </div>
           <a target="_blank" href="/products/13" class="item_buy">
             <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
           </a>
         </div>
       </div>
      </div>
    </div>
   </div>

   <div class="container">
     <div class="row">
       <div class="col-md-6">
         <h3 class="text-left"><img src="https://ws2.sinaimg.cn/large/006tKfTcgy1ffyu7fblvwj301s01swe9.jpg" height="24" alt="">&nbsp;Sport</h3>
       </div>
       <div class="col-md-6">
        <h3 class="text-right"><%= link_to("More>>", products_path(category: "运动控")) %></h3>
       </div>
     </div>
    <hr>
  </div>

   <div class="product">
     <div class="container">
       <div class="row">
         <div class="col-md-3">
           <div class="item_hover">
             <img class="sort-img" src="https://ws2.sinaimg.cn/large/006tNbRwly1fgbj5styvej30by0bytaa.jpg" alt="" />
             <div class="floor_goods">
               <span class="text_point">Casual sports suit</span>
               <span style="color:#c00">￥598</span>
             </div>
             <a target="_blank" href="/products/18" class="item_buy">
               <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
             </a>
           </div>
         </div>
         <div class="col-md-3">
           <div class="item_hover">
             <img class="sort-img" src="https://ws4.sinaimg.cn/large/006tNbRwly1fgbjbzfop4j30by0byq3n.jpg" alt="" />
             <div class="floor_goods">
               <span class="text_point">Sports suit of Kappa for men</span>
               <span style="color:#c00">￥599</span>
             </div>
             <a target="_blank" href="/products/20" class="item_buy">
               <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
             </a>
           </div>
         </div>
         <div class="col-md-3">
           <div class="item_hover">
             <img class="sort-img" src="https://ws3.sinaimg.cn/large/006tNbRwly1fg4jm8riw1j30by0byjrq.jpg" alt="" />
             <div class="floor_goods">
               <span class="text_point">Casual running shoes of Nike</span>
               <span style="color:#c00">￥799</span>
             </div>
             <a target="_blank" href="/products/29" class="item_buy">
               <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
             </a>
           </div>
         </div>
         <div class="col-md-3">
           <div class="item_hover">
             <img class="sort-img" src="https://ws1.sinaimg.cn/large/006tNbRwly1fgbisg7m4ij309q09qabs.jpg" alt="" />
             <div class="floor_goods">
               <span class="text_point">Summer sports T-shirt of KELME</span>
               <span style="color:#c00">￥239</span>
             </div>
             <a target="_blank" href="/products/22" class="item_buy">
               <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
             </a>
           </div>
         </div>
        </div>
      </div>
     </div>

     <div class="container">
       <div class="row">
         <div class="col-md-6">
           <h3 class="text-left"><img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fga2ztq1naj301s01swe9.jpg" height="24" alt="">&nbsp;Suit</h3>
         </div>
         <div class="col-md-6">
          <h3 class="text-right"><%= link_to("More>>", products_path(category: "正装秀")) %></h3>
         </div>
       </div>
      <hr>
    </div>

   <div class="product">
     <div class="container">
       <div class="row">
         <div class="col-md-3">
           <div class="item_hover">
             <img class="sort-img" src="https://ws3.sinaimg.cn/large/006tNbRwly1fg4ju871psj30by0bymxs.jpg" alt="" />
             <div class="floor_goods">
               <span class="text_point">Business suit</span>
               <span style="color:#c00">￥2688</span>
             </div>
             <a target="_blank" href="/products/33" class="item_buy">
               <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
             </a>
           </div>
         </div>
         <div class="col-md-3">
           <div class="item_hover">
             <img class="sort-img" src="https://ws3.sinaimg.cn/large/006tNbRwly1fg4ju825bej30by0byaal.jpg" alt="" />
             <div class="floor_goods">
               <span class="text_point">Tuxedo Suit</span>
               <span style="color:#c00">￥2799</span>
             </div>
             <a target="_blank" href="/products/34" class="item_buy">
               <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
             </a>
           </div>
         </div>
         <div class="col-md-3">
           <div class="item_hover">
             <img class="sort-img" src="https://ws1.sinaimg.cn/large/006tNbRwly1fg4ju7wejaj30by0by0t9.jpg" alt="" />
             <div class="floor_goods">
               <span class="text_point">Summer cotton shirt for men</span>
               <span style="color:#c00">￥288</span>
             </div>
             <a target="_blank" href="/products/37" class="item_buy">
               <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
             </a>
           </div>
         </div>
         <div class="col-md-3">
           <div class="item_hover">
             <img class="sort-img" src="https://ws4.sinaimg.cn/large/006tNbRwly1fg4ju7lhk1j30by0byaac.jpg" alt="" />
             <div class="floor_goods">
               <span class="text_point">Playboy leather shoes</span>
               <span class="tm-price">￥888</span> <span>Off</span> <span style="color:#c00">￥688</span>
             </div>
             <a target="_blank" href="/products/45" class="item_buy">
               <span> <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Product info</span>
             </a>
           </div>
         </div>
        </div>
      </div>
     </div>
