  <a href="#myPage" title="To Top" class="text-center">
   <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
<div class="footer" id="footer" >
  <div class="container-fluid ">
    <div class="container">
      <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
        <h4>语言选择</h4>
        <ul>
          <li> <%= link_to "English", faq_path %> </li>
          <li> <a href="/">中文</a> </li>
        </ul>
      </div>
      <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
        <h4> 支付方式 </h4>
        <ul>
          <li> <a href="#"> 货到付款</a> </li>
          <li> <a href="#"> 在线支付 </a> </li>
          <li> <a href="#"> 余额支付 </a> </li>
          <li> <a href="#"> 现金券支付 </a> </li>
        </ul>
      </div>
      <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
        <h4> 配送方式 </h4>
        <ul>
          <li> <a href="#"> 包邮政策 </a> </li>
          <li> <a href="#"> 配送说明 </a> </li>
          <li> <a href="#"> 运费说明 </a> </li>
          <li> <a href="#"> 验货签收 </a> </li>

        </ul>
      </div>
      <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
        <h4> 售后服务 </h4>
        <ul>
          <li> <a href="#"> 隐私条款 </a> </li>
          <li> <a href="#"> 售后咨询 </a> </li>
          <li> <a href="#"> 退货政策 </a> </li>
          <li> <a href="#"> 退货办理 </a> </li>

        </ul>
      </div>
      <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
        <div class="row">
          <h4> 联系我们 </h4>
          <ul>
            <li><a>在线客服(9:00-22:00)</a></li>
            <li><a>点击右下角对话图标</a></li>
            <li><a>联系在线客服。</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2  col-md-4 col-sm-6 col-xs-12 ">
        <div class="row">
          <h4> 关于我们 </h4>
          <div class="contactus">
          </div>
          <ul class="social">
           <li><a href="https://fullstack.xinshengdaxue.com/works/628" target="_blank">Copyright ©2017 JDstore</a></li>
           <li><a href="https://fullstack.xinshengdaxue.com/works/628" target="_blank">Design By 忽波 & 王天禹</a></li>
           <li><a href="https://fullstack.xinshengdaxue.com/works/628" target="_blank">Thank you for coming!<img src="/images/thumbs-up.png" alt="Thumbs up" width=15% height=auto></a></li>
          </ul>
        </div>

      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</div>
